
.jumbotron {
    height: 200px;
}
.paragraph {
    text-align: center;
    font-weight: bold;
    color: blue;
}
.futer1 {
    font-size: 60px;
    font-weight: bold;

}
.futer {
    font-size: 20px;
}
.icono1:hover {
    transform: scale(2) rotate(-40deg);
    -webkit-transform: scale(2) rotate(-40deg);
    -moz-transform: scale(2) rotate(-40deg);
    -ms-transform: scale(2) rotate(-40deg);
    -o-transform: scale(2) rotate(-40deg);
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
   
}
.icono2:hover {
    transform: scale(2) rotate(40deg);
    -webkit-transform: scale(2) rotate(40deg);
    -moz-transform: scale(2) rotate(40deg);
    -ms-transform: scale(2) rotate(40deg);
    -o-transform: scale(2) rotate(40deg);
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.icono1 {
    font-size: 50px;
    
} 
.icono2 {
    font-size: 50px;
}
.formulario {
    margin-left: 10px;
    border: 1px solid #efefef;
}

.h1 {
    color: orange;
}

.pic {
    color: black;
    font-weight: bold;
}

.btn-reserva {
    width: 100%;
}







